@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

// Set your brand colors
// $blue: #58bedf;
$blue: #084c61;
// $blue-secondary: #1590b9;
$blue-secondary: #002530;
$light-blue: #D1E9F0;
$contrast: #6b797f6b;
$gray: #bbbbbb70;
$white: #fff;
$white-bg: rgb(236, 232, 232);
$contrastText: $light-blue;
$contrastLink: #b6e7f7;
// #110909 rgb(182, 231, 247);

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $blue;
$secondary: $blue-secondary;
// $widescreen-enabled: true;
// $fullhd-enabled: true;


@import "bulma/sass/helpers/_all.sass";

// Update some of Bulma's component variables
$body-background-color: $white-bg;
$control-border-width: 2px;
$title-strong-color: $primary;
$navbar-background-color: $body-background-color;
$navbar-padding-vertical: 1.2rem;
$navbar-padding-horizontal: 0;
$input-focus-border-color: $contrastLink;
$input-border-color: $grey-lighter;

// Import only what you need from Bulma
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/elements/icon.sass";
@import "bulma/sass/elements/tag.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/layout/_all.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/components/card.sass";
@import "bulma/sass/form/_all.sass";
// my styles
@import "./my_styles.scss";

html,
body {
  margin: 0;
  padding: 0;
}
